.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: gray;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

body{
background-image: linear-gradient(to right,rgb(39, 17, 239), rgb(137, 128, 128));
}

#buttom{
padding-left: 2.5rem;
padding-right: 2.5rem;
display: flex;
justify-content: center;

}
#btn{
background-color: gray;
border: none;
color: black;
}



#btnSalir{
  margin-left: 1000px;
}

.demo-inline-calendar-card {
  width: 300px;
}







table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #34c331;
}

#description:hover{
  background-color: #34c331;
}

